.coin-detail {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .ant-pagination {
        display: none;
    }
}

.coin-detail-inner {
    width: 1200px;
    max-width: 100%;
    margin-left: 20px;
    .coin-detail-header {
        display: flex;
        img {
            width: 50px;
            height: 50px;
            transform: translateY(10px);
        }
        font-size: 4.5rem;
        font-weight: 500;

        div {
            font-size: 2.4rem;
            font-weight: 400;
            transform: translateY(16px);
        }
    }
}

.coin-detail-left .price-header {
    font-size: 2.8rem;
    font-weight: 600;
    .change  {
        font-size: 2.6rem;
    }
}

.coin-detail-right .buy-crypto  {
    .header  {
        font-size: 2.4rem;
        font-weight: 600;
    }

    .calculate {
        margin-top: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 8px;

        input {
            padding-left: 15px;
            height: 100%;
            border: none;
            outline: none;
            font-size: 2rem;
        }

        img {
            width: 25px;
            margin: 0 10px;
        }

        .cover-img-symbol {
            margin-right:  20px;
            font-size: 1.6rem;
            font-weight: 600;
            display: flex;
            align-items: center
        }
    }
}

.calculate-output {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 600;
}

.price-live-data {
    font-size: 3.2rem;
    font-weight: 600;

    .descrine {
        font-weight: 400;
        font-size: 1.6rem;
        margin-top: 32px;
    }
}

.price-infomation {
    margin: 40px 0;
    .price-infomation-title {
        font-size: 2rem;
        font-weight: 500;
    }

    .price-infomation-content {
        margin: 20px;
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.detail-transaction-fee {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
        border-radius: 8px;
    position: relative;

    img {
        width: 25px;
        position: absolute;
        left: 3px;
        top: 37px;
    }

    > div {
        margin: 5px 0;
    }

    .title {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .progess {
        display: flex;
        justify-content: flex-start;   
        align-items: center;

        .exchanges {
            font-size: 1.6rem;
            font-weight: 600;
            width: 200px
        }
    }
}

.progess .progess-percent {
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    height: 16px;
    background-color: rgb(233, 232, 232);
    width: 100%;

    div {
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 5px;
        height: 100%;
        text-align: end;
    }
}

