.FooterInner {
    padding: 48px 24px 20px 24px;
    width: 1200px;
    max-width: 100%;
    border-bottom: 1px solid #ccc;
}

.FooterInnerTop .colFooter {
    div {
        font-size: 1.4rem;
        color: var(--text-blur);
        padding: 6px 5px;
        text-align: start;
    }

    div:first-child {
        color: rgb(27, 20, 20);
        font-size: 2rem;
        font-weight: 600;
    }
}

.FotterinnerBt {
    font-size: 1.6rem;
    color: var(--text-blur);
    text-align: center;
    padding: 30px 0;
}

.colFooter img {
    width: 30px;
    height: 30px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
