@import "Globalstyles";

.headerMenu {
    height: @height-header;
    align-items: center ;
}

.headerSubMenu .ant-menu-item-group {
    padding: 10px 20px;

    .ant-menu-item-group-list li {
        height: 50px;
    }
}


.headerSubMenu .ant-menu-item {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0;
    border-radius: 10px;
    
    &:hover {
        background-color: rgb(43, 49, 57);
    }

    .ant-menu-item-icon {
        font-size: 2.2rem;
    }
}

.ant-menu-overflow-item:nth-child(7)  {
    margin-right: 300px;
}

.headerSubMenuItem1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerSubMenuItem {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    margin-left: 10px;
    

    div {
        line-height: 1.8rem;
    }

    .title {
        font-size: 1.6rem;
    }

    .describe {
        font-size: 1.3rem;
        color: var(--text-blur);
    }

    &:hover .icon {
        display: block;
    }

    .icon {
        display: none;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

        .hot {
        display: inline-block;
        transform: translateY(-5px);
        font-size: 1rem;
        color: #000;
        text-align: center;
        background-color: var(--primary-color);
        width: 30px;
        height: 13px;
        border-radius: 5px;
        line-height: 13px;
    }
}






