@import "Globalstyles.less";

.loginInner {
    width: 100%;
    padding-top: 30px;
    height: 100%;
}

.loginInnerHeader {
    font-size: 3.2rem;
    font-weight: 600;
}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .typeLogin {
        padding: 20px 0 0 0;
        display: flex;
        div {
            padding: 5px 20px ;
            font-size: 1.8rem;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .content-botton {
        font-size: 1.4rem;
        color: rgb(189, 154, 15);
        font-weight: 600;
    }

    .active {
        background-color: var(--hover-backGround-color);
    }
}


.formForm {
    padding: 20px 0;

    .ant-form-item-label {
        margin-right: 15px;
        display: flex;
        max-width: 35%;
        label {
            font-size: 1.6rem;
        }
    }

    .ant-form-item-control {
        max-width: 100%;
    }

    .ant-form-item-control-input-content {
        display: flex;
    }

    .ant-select.ant-select-in-form-item {
        width: 30%;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: rgb(240, 185, 11);
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
}
}

.loginInner .qrCode {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imgQRcode {
        padding: 5px;
    }


    .QR_content {
        font-size: 1.8rem;
        font-weight: 600;
        margin: 20px 0;
    }

    .QR_content2 {
        font-size: 1.4rem;
        text-align: center;
    }
}   

.darkMode .active {
    background-color: rgb(11 14 17);
}



.darkMode.formLogin {
    .ant-input-affix-wrapper.ant-input-affix-wrapper-status-success.ant-input-affix-wrapper-has-feedback,
    .ant-input {
        background-color: #181a20 !important;
    }
}
