.OverviewInner {
    padding: 80px 0;
}


.OverviewTop {
    padding-top: 80px;

    .content {
        margin-bottom: 20px;
        font-size: 5.3rem;
        font-weight: 600;
    }
}

.OverviewBottom {
    margin-top: 60px;
    .value {
        font-size: 4rem;
        font-weight: 600;
    }
    .describe {
        font-size: 1.8rem;
        width: 240px;
    }
}

.darkMode .ant-input-affix-wrapper,
.darkMode .ant-input {
    background-color: rgb(11 14 17) !important;
}