.fortfolio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fortfolio-inner {
    position: relative;
    padding: 40px 20px;
    width: 1200px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.fortfolio-overview .overview-total {
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 50px;

    .content {
        font-size: 1.6rem;
        font-weight: 400;
    }

    .describe {
        font-size: 2rem;
        font-weight: 400;
    }

}

.fortfolio-overview .overview-chart {
    canvas {
        width: 200px !important;
        height: 200px !important;
    }
}

.addCoin-modal {

    .ant-modal-content {
        width: 520px;
        max-width: 100%;
        
    }

    .input-search {
        border-radius: 8px;
        width: 100%;
        border: none;
        outline: 1px solid rgb(240, 185, 11);
        font-size: 1.8rem;
        height: 40px;
        color: #69a235;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    
}


.tool-action {
    margin: 30px 0;
    display: flex; 
    justify-content: flex-end;
}

// Modal Add Coin-----------------------------

.addCoin-modal .list-coin-search {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    border-radius: 8px;
    border: 1px solid rgb(133, 133, 133);
    overflow: hidden;

    .coin-item:not(li:last-child) {
        border-bottom: 1px solid rgb(133, 133, 133);
    }

    .coin-item {
        &:hover {
            cursor: pointer;
            background-color: #fafafa;
        }
        width: 100%;
        list-style: none;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        img { 
            margin: 10px 15px;
            width: 24px;
            height: 24px;
        }
    }
}

// Modal Login ------------------------------ 

.modal-login {
    .modal-title {
        display: flex;
        justify-content: center;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ant-btn-primary {
        display: none;
    }
}

// -- dark theme modal

.darkMode {
    .ant-modal-header,
    .ant-modal-body,
    .ant-modal-footer {
        background-color: #181a20 !important;
    }

    .ant-modal-header .ant-modal-title {
        color: rgb(234, 236, 239)
    }

    .coin-item:hover {
        background-color: rgb(11 14 17);
    }
}

.RowHeight {
    .ant-table-tbody > tr.ant-table-row td {
        height: 64px;
    }
}

.RowHeight .actions {
    display: flex;
    font-size: 1.6rem;

    .action-icon {
        cursor: pointer;
        padding: 5px 5px;
        margin: 0 5px;

        &:hover {
            color: #C99400;
        }
    }
}

.modal-update-coin {
    .ant-modal-footer {
        opacity: 0;
    }
}

//DarkMode Table

.darkMode {
    .ant-table-thead {
        .ant-table-cell {
            background-color: rgb(11 14 17);
            color: rgb(234, 236, 239);
        }
    }

    .ant-table-tbody {
        background-color: hsl(225, 14%, 11%);

        .ant-table-cell {
            color: rgb(234, 236, 239);
        }

    }


    .ant-table-tbody > tr.ant-table-row:hover td {
            background-color: rgb(11 14 17);
    }

}
// DarkMode Tabs

.darkMode {
    .ant-select-selector, .ant-select-arrow {
        background-color: #181a20 !important;
        color: rgb(234, 236, 239)
    }

    .ant-pagination-item-link {
        background-color: #181a20 !important;
    
        span {
            color: rgb(234, 236, 239)
        }
    }
    
    .ant-pagination-item-active, .ant-pagination-item {
        background-color: #181a20 !important;
        a {
            color: rgb(234, 236, 239) !important;
        }
    }
}