.fortfolio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fortfolio-inner {
    width: 1200px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.fortfolio-overview .total {
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .content {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .desscribe {
        font-size: 2rem;
        font-weight: 500;
    }

}

.fortfolio-overview .overview-chart {
    canvas {
        width: 200px !important;
        height: 200px !important;
    }
}